header {
  width: 100%;
  min-width: 320px;
  height: -moz-fit-content;
  height: 70vh;
  margin: auto;
  position: relative;
  background-image: url("../../imagenes/hero/hero_mobile_craneo_satoshi.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 1.6rem 0px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}
header .contenido-encabezado {
  margin: 1rem auto;
  padding: 0px 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  height: 100%;
}
header .contenido-encabezado .text-autor {
  font-style: italic;
  font-weight: 700;
}
header .contenido-encabezado div .btc-container-data {
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
header .contenido-encabezado div .btc-container-data .div-btc-price {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 1rem;
  border-radius: 0.5rem;
  min-width: 24rem;
  max-width: 36rem;
}
header .contenido-encabezado div .btc-container-data .div-btc-price div {
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  align-items: center;
  gap: 0.5rem;
}
header .contenido-encabezado div .btc-container-data .div-btc-price div p {
  color: white;
  font-size: 1.6rem;
}
header .contenido-encabezado div .btc-container-data .div-btc-price div p span {
  color: gray;
  font-size: 1.3rem;
}
header .contenido-encabezado div .btc-container-data .div-btc-price div img {
  width: 2.5rem;
}
header .contenido-encabezado div .btc-container-data .div-btc-price span {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}
header .contenido-encabezado div .btc-container-data .fear-and-greed {
  display: flex;
  position: relative;
  background-color: #333;
  border-radius: 5px;
  color: white;
  min-width: 10rem;
  height: 100%;
  padding: 2px;
  justify-content: center;
  align-items: center;
}
header .contenido-encabezado div .btc-container-data .fear-and-greed p {
  color: rgb(146, 146, 146);
  font-size: 12px;
  position: absolute;
  left: 5px;
  top: 5px;
}
header .contenido-encabezado div .btc-container-data .fear-and-greed span {
  font-size: 1.6rem;
  font-weight: bold;
}
header .contenido-encabezado div .clock {
  display: flex;
  justify-content: center;
  margin: auto 0px;
  width: 100%;
}
header .contenido-encabezado .text-effect-writter {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
header .contenido-encabezado .text-effect-writter .text_slogan {
  font-weight: bold;
  font-size: 2.2rem;
  color: white;
  text-shadow: #000;
  text-align: start;
  align-items: center;
  justify-content: center;
}
header .contenido-encabezado .text-effect-writter .boton {
  background-color: #3ef2d0;
  color: #000000;
  margin-top: 1.6rem;
  font-size: 2rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.4rem 1.2rem;
  min-width: 10rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-end;
  border-bottom: 8px solid #299b86;
  box-shadow: 0px 5px 3px 2px rgba(0, 0, 0, 0.1);
}
header .contenido-encabezado .text-effect-writter .boton:hover {
  background-color: #19e6c0;
  cursor: pointer;
}
header .contenido-encabezado .text-effect-writter .boton:active {
  transform: scale(0.9);
}
header .contenido-encabezado .flip-clock-wrapper ul {
  margin: 0.3rem;
}
header .contenido-encabezado .flip-clock-wrapper ul li {
  line-height: 4.5rem;
}
@-moz-document url-prefix() {
  header .contenido-encabezado .flip-clock-wrapper ul li {
    line-height: 5.5rem;
  }
}
header .contenido-encabezado .flip-clock-wrapper ul li a .up .inn {
  font-size: 3.5rem;
}
header .contenido-encabezado .flip-clock-wrapper ul li a .down .inn {
  font-size: 3.5rem;
}
header .contenido-encabezado .flip-clock-wrapper ul li a div.up:after {
  top: 2.2rem;
}
header .contenido-encabezado .flip-clock-wrapper .flip-clock-divider {
  width: 1.1rem;
  height: -moz-fit-content;
  height: fit-content;
}
header .contenido-encabezado .flip-clock-wrapper .flip-clock-divider .flip-clock-label {
  right: -50px;
  display: none;
}
header .contenido-encabezado .flip-clock-wrapper .days {
  width: 0px;
}
header .contenido-encabezado .flip-clock-wrapper .hours .flip-clock-dot,
header .contenido-encabezado .flip-clock-wrapper .minutes .flip-clock-dot,
header .contenido-encabezado .flip-clock-wrapper .seconds .flip-clock-dot {
  left: 0rem;
}
header .contenido-encabezado .flip-clock-wrapper .hours .top,
header .contenido-encabezado .flip-clock-wrapper .minutes .top,
header .contenido-encabezado .flip-clock-wrapper .seconds .top {
  top: 15px;
}
header .contenido-encabezado .flip-clock-wrapper .hours .bottom,
header .contenido-encabezado .flip-clock-wrapper .minutes .bottom,
header .contenido-encabezado .flip-clock-wrapper .seconds .bottom {
  top: 30px;
}
header .contenido-encabezado .clock .flip {
  width: 2.5rem;
  height: 4.5rem;
}
header .preview-container {
  position: absolute;
  display: none;
  bottom: 40px;
  right: 60px;
  gap: 1.2rem;
}
header .preview-container div {
  border-radius: 12px;
  border: 3px solid white;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
header .preview-container div img {
  width: 9.6rem;
  height: 5.4rem;
  border-radius: 12px;
}
header .preview-container div:hover {
  cursor: pointer;
  transform: scale(0.98);
}
header .preview-container .img-preview-thumbnails::after {
  position: absolute;
  content: "";
  height: 100%;
  background: rgba(255, 255, 255, 0.39);
  left: 0;
  top: 0;
  animation: whiteOverlaySlide 6s ease-in-out infinite;
}
header .preview-container {
  display: none;
}
header .slide {
  display: none;
}
header .slide.active {
  display: none;
  opacity: 1;
  z-index: -10;
}
header .slide img {
  display: none;
}

@media (orientation: landscape) {
  header {
    height: -moz-fit-content;
    height: fit-content;
  }
  header .contenido-encabezado {
    gap: 1rem;
  }
}
@media screen and (min-width: 570px) {
  header {
    width: 100%;
    height: 70vh;
    background-image: url("../../imagenes/hero/hero_mobile_craneo_satoshi.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  header .contenido-encabezado div .btc-container-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  header .contenido-encabezado div .btc-container-data .div-btc-price {
    width: -moz-fit-content;
    width: fit-content;
    gap: 3rem;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
  }
  header .contenido-encabezado div .btc-container-data .div-btc-price div p {
    font-size: 2rem;
  }
  header .contenido-encabezado div .btc-container-data .div-btc-price div img {
    width: 4rem;
  }
  header .contenido-encabezado div .btc-container-data .div-btc-price #span-price-BTC {
    font-size: 2rem;
  }
  header .contenido-encabezado div .btc-container-data .fear-and-greed {
    display: flex;
    position: relative;
    background-color: #333;
    border-radius: 5px;
    color: white;
    height: 6.2rem;
    padding: 2px;
    justify-content: center;
    align-items: center;
    padding: 1rem 30px;
  }
  header .contenido-encabezado div .btc-container-data .fear-and-greed p {
    color: rgb(146, 146, 146);
    font-size: 14px;
    position: absolute;
    top: 5px;
  }
  header .contenido-encabezado div .btc-container-data .fear-and-greed span {
    font-size: 2rem;
    font-weight: bold;
  }
  header .contenido-encabezado .text-effect-writter {
    width: 60%;
    line-height: 4.5rem;
    flex-direction: column;
  }
  header .contenido-encabezado .text-effect-writter .text_slogan {
    font-size: 3rem;
  }
  header .contenido-encabezado .text-effect-writter .boton {
    align-self: flex-start;
  }
  header .contenido-encabezado .flip-clock-wrapper ul {
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
  }
  header .contenido-encabezado .flip-clock-wrapper ul li {
    line-height: 6.5rem;
  }
  header .contenido-encabezado .flip-clock-wrapper ul li a .up .inn {
    font-size: 6.5rem;
  }
  header .contenido-encabezado .flip-clock-wrapper ul li a .down .inn {
    font-size: 6.5rem;
  }
  header .contenido-encabezado .flip-clock-wrapper ul li a div.up:after {
    top: 3.2rem;
  }
  header .contenido-encabezado .flip-clock-wrapper .flip-clock-divider {
    width: 1.1rem;
    height: -moz-fit-content;
    height: fit-content;
  }
  header .contenido-encabezado .flip-clock-wrapper .flip-clock-divider .flip-clock-label {
    right: -50px;
    display: none;
  }
  header .contenido-encabezado .flip-clock-wrapper .days {
    width: 0px;
  }
  header .contenido-encabezado .flip-clock-wrapper .hours .flip-clock-dot,
  header .contenido-encabezado .flip-clock-wrapper .minutes .flip-clock-dot,
  header .contenido-encabezado .flip-clock-wrapper .seconds .flip-clock-dot {
    left: 0rem;
  }
  header .contenido-encabezado .flip-clock-wrapper .hours .top,
  header .contenido-encabezado .flip-clock-wrapper .minutes .top,
  header .contenido-encabezado .flip-clock-wrapper .seconds .top {
    top: 45px;
  }
  header .contenido-encabezado .flip-clock-wrapper .hours .bottom,
  header .contenido-encabezado .flip-clock-wrapper .minutes .bottom,
  header .contenido-encabezado .flip-clock-wrapper .seconds .bottom {
    top: 65px;
  }
  header .contenido-encabezado .clock .flip {
    width: 6.5rem;
    height: 6.5rem;
  }
  header .preview-container {
    display: none;
  }
  header .slide {
    display: none;
  }
  header .slide.active {
    display: none;
    opacity: 1;
    z-index: -10;
  }
  header .slide img {
    display: none;
  }
}
@media screen and (min-width: 760px) {
  header {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  header .navBar {
    z-index: 10;
  }
  header .contenido-encabezado {
    z-index: 10;
  }
  header .contenido-encabezado div .btc-container-data .div-btc-price {
    width: -moz-fit-content;
    width: fit-content;
    gap: 4rem;
  }
  header .preview-container {
    display: flex;
    z-index: 4;
  }
  header .slide {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }
  header .slide.active {
    display: block;
    opacity: 1;
    z-index: 2;
  }
  header .slide img {
    display: block;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% center;
  }
}
@media screen and (min-width: 1024px) {
  header {
    width: 100%;
    max-width: none;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: none;
    transition: opacity 2s ease-in-out;
  }
  header .contenido-encabezado {
    gap: 3rem;
  }
  header .contenido-encabezado .div-btc-price {
    max-width: 52.4rem;
    width: 45rem;
    padding: 1.5rem 2rem;
  }
  header .contenido-encabezado .div-btc-price div p {
    font-size: 2rem;
  }
  header .contenido-encabezado .div-btc-price div img {
    width: 4rem;
  }
  header .contenido-encabezado .div-btc-price #span-price-BTC {
    font-size: 2rem;
  }
  header .contenido-encabezado .text-effect-writter {
    padding-left: 6rem;
    padding-bottom: 4rem;
    min-width: 60rem;
    width: 40%;
    flex-direction: column;
    gap: 12px;
  }
  header .contenido-encabezado .text-effect-writter .text_slogan {
    font-size: 5rem;
    line-height: 6.5rem;
  }
  header .contenido-encabezado .text-effect-writter .boton {
    margin: 4rem 0rem;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    align-self: flex-start;
    padding: 0.5rem 2rem;
    margin-left: 0;
    font-size: 2rem;
  }
  header .preview-container {
    display: flex;
  }
  header .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s ease-in-out, transform 10s ease-in-out;
    transform: scale(1);
  }
  header .slide.active {
    opacity: 1;
    z-index: 2;
    transform: scale(1.05); /* zoom suave */
  }
  header .slide img {
    width: 100%;
    height: 100%;
    background-position: center 60%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@keyframes whiteOverlaySlide {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}/*# sourceMappingURL=header.css.map */