$turquesa: #3ef2d0;
$soft-black: #212529;
$black-light: #303235;
$turquesa_strong: #19e6c0;
$turquesa_very_strong: #23a78e;
$turquesa_soft: #effefa;
$icon-redes-yellow: #f8c114;
$gris: #f2f5f7;
$gris-middle: #d6d7d8;
$gris-strong: #bbc9d6;
$blanco: #ffffff;
$negro: #000000;
$xsmall: 320px; //mobile-samll
$small: 570px; //mobile-medium
$medium: 760px; //tablet
$large: 1024px; //desktop
$font-family-ubuntu: "Inter", sans-serif;

$font-size-paragraph: 1.6rem;
$font-W-regular-400: 400;
$font-W-bold-700: 700;
$font-z-h2: 2.4rem;
$border-radius: 0.5rem;
$box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
$gap_slider: 3rem;
//variables clock halvin
$font-size-clock: 3.5rem;

html {
  font-size: 62.5%;
  font-family: $font-family-ubuntu;
  scroll-behavior: smooth;
}
/* Solo para depuración */
* {
  outline: 1px solid red;
}

body {
  font-family: $font-family-ubuntu;
  font-size: $font-size-paragraph;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin but($bg-color, $text) {
  background-color: $bg-color;
  color: $text;
  margin-top: 1.6rem;
  font-size: 2rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.5rem;

  &:hover {
    background-color: $turquesa_strong;
    cursor: pointer;
  }
  &:active {
    transform: scale(0.9);
  }
}

main {
  min-width: $xsmall;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: none;
  margin: auto;

  > *:nth-child(even) {
    background-color: #f3f5f7;
  }

  section {
    padding: 5rem 1rem;

    .header-title {
      width: 100%;

      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      div {
        font-family: Arial, Helvetica, sans-serif;
        height: 5px;
        width: 100px;
        background-color: $turquesa;
      }
      p {
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }

  & > section:not(:first-of-type) {
    //animacion elegante scroll
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
  }

  .section-calcujub {
    min-width: 320px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0.5rem solid $turquesa_very_strong;

    .announce-calc-jub {
      background-color: #effefa;
      border: 1px solid #22dfc1;
      border-radius: 1rem;
      text-align: center;
      padding: 1.4rem 1rem;
      line-height: 2.5rem;
      max-width: 425px;
      box-shadow: 3px 3px 5px 0px #d6d7d8;
      margin: 3rem auto;
    }
    div var {
      font-size: 1.6rem;
    }

    .card-body-calculadora {
      background-color: white;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
      width: 310px;
      padding: 1rem;
      position: relative;
      align-items: center;
      border-radius: 0.375rem;
      .div-group-price-formula {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        text-align: center;
        padding-bottom: 3rem;
        margin-top: 2rem;
        .precio-btc {
          display: flex;
          align-items: center;
          gap: 1rem;

          .img-btc {
            width: 30px;
          }
        }
        .ecuacion-formula {
          text-align: center;
          display: flex;
          justify-content: center;
          gap: 0.2rem;
          align-items: center;
          .denominador_fraccion {
            border-top: 1px solid black;
          }
        }
      }
      .input-group-inversion-inicial {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 3rem;
        border-bottom: 1px solid gray;

        .img {
          width: 4rem;
          height: 4rem;
          margin: auto;
        }
        p {
          font-size: 3rem;
        }
        input {
          padding: 1rem;
          outline-color: $turquesa;
          width: 20rem;
          text-align: center;
        }
        .input-group-inversion {
          display: flex;
          gap: 2rem;
        }
      }
      .result-halvins {
        padding: 3rem 0rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        border-bottom: 1px solid gray;
        .halvin {
          border-radius: 2rem;
          border: 1px solid rgb(211, 208, 208);
          padding: 1rem;
          width: 100%;
          p {
            font-weight: bold;
            padding-bottom: 0.5rem;
          }
          span {
            display: flex;
            justify-content: center;
            padding-bottom: 1rem;
            color: gray;
          }
        }
        .halvin-jub {
          border-radius: 2rem;
          background-color: #effefa;
          border: 1px solid $turquesa_strong;
          box-shadow: 0px 5px 0px 2px rgba(0, 0, 0, 0.1);
        }
      }
      .result-formula {
        padding: 2rem;
        text-align: center;
        #result_calc-formula {
          background-color: $turquesa_strong;

          display: block;
          justify-content: center;
          border-radius: 2rem;
          padding: 2rem 1rem;
          margin: 2rem 0rem;
          font-size: 2.4rem;
          border-bottom: 5px solid #299b86;
          box-shadow: 0px 5px 3px 2px rgba(0, 0, 0, 0.1);
          min-width: 10rem;
        }
      }
      #btn_modal_info {
        position: absolute;
        right: 0;
        top: 0;
        margin: 1rem;
        background-color: transparent;
        border: none;
        img {
          width: 3rem;
        }
      }
    }
    .aside-section-calc-jub {
      margin-top: 1.5rem;
      padding: 1rem;
      margin-bottom: 1.5rem;
      text-align: center;
      background-color: white;
      width: 310px;
      height: fit-content;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
      border-radius: 0.375rem;

      .header-aside {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        justify-content: space-between;

        p {
          font-size: 1.6rem;
        }
      }
      #aside-calc-jub {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        gap: 0.45rem;

        div {
          display: flex;
          justify-content: space-between;
          padding: 0.5rem;
          border: 1px solid $turquesa;
          flex-direction: row;
          border-radius: 0.5rem;
          gap: 0.2rem;
          p:nth-child(1) {
            font-weight: bold;
          }
          p:nth-child(2) {
            color: rgb(80, 79, 79);
            width: 10rem;
            text-align: right;

            text-overflow: ellipsis;
            overflow: hidden;
          }
          p:nth-child(3) {
            width: 10rem;
            text-align: right;
            text-align: right;

            text-overflow: ellipsis;
            overflow: hidden;
          }
          p {
            font-size: 1.4rem;
          }
          .p-largest-number {
            width: fit-content;

            text-wrap: nowrap;
          }
        }
      }
    }
  }
  .section-announce {
    width: 100%;
    background-color: $turquesa_very_strong;

    .div-container--announce {
      background-color: $turquesa_very_strong;

      border-radius: 3rem;
      text-align: center;
      padding: 1.4rem 3.4rem;

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: auto;
      .h2-red-tittle {
        color: white;

        font-weight: bold;
      }
      .boton {
        @include but($turquesa, $negro);
        margin-top: 1rem;
        padding: 0.8rem 2.5rem;
        width: 300px;
        border-radius: 100px;
        font-weight: 600;

        text-transform: uppercase;
        color: $black-light;
      }
    }
  }
  .section-mentoria {
    min-width: $xsmall;
    position: relative;
padding-top: 3rem;
padding-bottom: 3rem;

.bg-section-btc{
  background-image: url("../../imagenes/btg-bg-section.jpg");
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
filter: brightness(0.3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

    padding: 2rem;
    .div-mentoria {
      position: inherit;
      z-index: 2;
      .header-title {
        color: $turquesa;
      }
      .mentoria-items {
        display: grid;
       grid-template-columns: 1;
        color: white;
        list-style: none;
        padding-left: 1.5rem;
        gap: 0.8rem;
        font-weight: bold;
        li{
          width: fit-content;
          display: flex;
         
        }
      }
    }
    .div-mis-redes {
      position: inherit;
      z-index: 2;
      .button-group {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
        list-style: none;
       
          li:first-child{
            a{
            img{
              border-radius: 100%;
            }
          }
          }
        
  li:nth-child(2){
            a{
            img{
              border-radius: 100%;
            }
          }
          }
        li {
          width: 100%;
          max-width: 30rem;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            background-color: white;
         text-decoration: none;
         color: black;
            border-radius: 8px;
            gap: 12px;

            img {
              width: 4rem;
              height: 4rem;
              
            }
          }
        }
      }
      .linea {
        width: 25rem;
        height: 0.4rem;
        background-color: $turquesa_very_strong;
        margin: auto;
        margin-top: 8rem;
        margin-bottom: 3rem;
      }
      .redes-live {
        color: white;
        font-weight: bold;
        text-align: center;
        p {
          margin-top: 3rem;
          margin-bottom: 3rem;
        }
        .redes-live-icons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 3rem;
          list-style: none;

          li {
            a {
              display: flex;
              justify-content: center;
              padding: 1rem;
            
            
              border-radius: 15px;
              background-color: white;
              border: 1px solid $turquesa_strong;
              box-shadow: $box-shadow;
              transition: all 0.3s ease-in-out;

              img {
                width: 3rem;
                height: 3rem;
                
              }
              &:hover{
                transform: scale(1.1);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

.section-libros {
  margin: auto;
  .carousel {
    position: relative;
    width: 100%;

    max-width: 33rem;
    padding: 10px 40px;
    border: 1px solid gray;
    border-radius: 15px;
    background: #d3d3d3;
    margin: auto;
  }
  .carousel .img-book {
    width: 24rem;
    height: 38rem;

    margin-right: 1.5rem;

    border-radius: 1.5rem;
    box-shadow: $box-shadow;
    /* establecer block para remover el espacio alrededor de las imágenes */
    display: block;
  }

  .arrow {
    position: absolute;

    height: 100%;

    border: none;

    color: #444;
    display: block;
    img {
      width: 3rem;
    }
  }

  .arrow:focus {
    outline: none;
  }

  .arrow:hover {
    cursor: pointer;
  }

  .prev {
    top: 0;
    left: 5px;
    background-color: transparent;
  }

  .next {
    height: 100%;

    right: 5px;
    top: 0;

    background-color: transparent;
    img {
      rotate: 180deg;
    }
  }

  .gallery {
    overflow: hidden;
  }

  .gallery ul {
    height: 38rem;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    /* eliminando los espacios en blanco entre los li inline-block'ed */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
    font-size: 0;
    display: flex;
  }

  .gallery li {
    display: inline-block;
    position: relative;
    height: 38rem;

    .span-order-book {
      height: 10rem;
      color: $soft-black;
      position: absolute;
      bottom: 0;
      font-size: 3rem;
      width: 24rem;
      background: linear-gradient(
        0deg,
        rgba(44, 46, 45, 0.836) 0%,
        rgba(62, 242, 208, 0) 100%
      );
      border-radius: 1.5rem;
      display: flex;
      justify-content: center;
      .span-order {
        color: $turquesa_strong;
        font-size: 5rem;
        padding: 1.5rem;
      }
    }
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
////MODAL START
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: $soft-black;
  color: white;
  h2 {
    margin: 2rem 0rem;
  }
}

.modal-body {
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0rem;
  text-align: center;

  var {
    font-weight: bold;
  }
  .ecuacion-formula {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    var {
      font-size: 2rem;
      font-weight: normal;
    }
    .denominador_fraccion {
      border-top: 1px solid black;
      text-align: center;
    }
  }
}

.modal-footer {
  padding: 20px 16px;
  background-color: $soft-black;
  color: white;
  text-align: center;
}

////MODAL END

@media screen and (min-width: 560px) {
  main {
    width: 100%;
    max-width: none;

    .section-announce {
      .div-container--announce {
        max-width: none;
      }
    }
    .section-calcujub {
      .announce-calc-jub {
        max-width: none;
      }
      .card-body-calculadora {
        min-width: 524px;
        padding: 1rem 2rem;
        .div-group-price-formula {
          gap: 6rem;
          span {
            font-size: 2rem;
          }
        }
        .input-group-inversion-inicial {
          flex-direction: row;
          gap: 2rem;

          input {
            width: 16rem;
            font-size: 2rem;
          }
        }
        .result-halvins {
          flex-direction: row;
        }
        .result-formula {
          #result_calc-formula {
            margin: auto;
            margin: 2rem auto;
            width: 30rem;
          }
        }
      }
      .aside-section-calc-jub {
        min-width: 524px;
        padding: 1rem 2rem;
        .header-aside {
          padding: 0.5rem 1.5rem;
          p {
            font-size: 1.6rem;
            font-weight: bold;
          }
        }
        #aside-calc-jub {
          div {
            padding: 0.5rem 1.5rem;
            p {
              font-size: 1.6rem;
            }
            p:nth-child(2) {
              width: 15rem;
            }
            p:nth-child(3) {
              width: 15rem;
            }
          }
        }
      }
      .section--mis-redes {
        width: 100%;
        background-color: red;
        .redes-conteiners {
          background-color: red;
          flex-direction: row;
          justify-content: space-evenly;
          max-width: none;
          .button-group {
            justify-content: space-around;
            .botones-redes {
              span {
                font-size: 2rem;
              }
            }
          }
          .container-live {
            padding-top: 0px;
            background-color: red;
            .stream_iconos {
              gap: 0.5rem;
            }
          }
        }
      }

      .section-mentoria {
        .mentoria_contenido {
          display: flex;
          gap: 6.6rem;
          .mentoria-items {
            width: 50%;
          }

          .video-iframe {
            width: 50%;
            background-color: #000000;
            height: 420px;
            border-radius: 10px;
            text-align: center;
            video {
              border-radius: 10px;
              height: 100%;
              margin: auto;
            }
          }
        }
      }

      .section-about-me {
        max-width: none;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;

        .redes_contenido {
          flex-direction: row;
          justify-content: space-evenly;
          margin-bottom: 3rem;
          max-width: none;
          .marco {
            height: 500px;

            margin: 0px;
          }
          .video {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            height: 500px;
            margin: 0px;
          }
        }
      }
    }
    .section--mis-redes {
      .redes-conteiners {
        flex-direction: row;
        max-width: none;
        justify-content: center;
        padding-top: 2rem;
        .container-live {
          padding-top: 0px;
        }
      }
    }
    .section-about-me {
      .redes_contenido {
        display: flex;
        flex-direction: row;
        .marco {
          border: 1px solid $turquesa;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  p {
    font-size: $font-size-paragraph;
  }

  main {
    max-width: none;

    section {
      .header-title {
        width: 100%;

        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        div {
          font-family: Arial, Helvetica, sans-serif;
          height: 5px;
          width: 100px;
          background-color: $turquesa;
        }
        p {
          font-weight: bold;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 3rem;
          margin-bottom: 10px;
        }
      }
    }
  }

  main {
    max-width: none;

    section {
      .header-title {
        width: 100%;

        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        div {
          font-family: Arial, Helvetica, sans-serif;
          height: 5px;
          width: 100px;
          background-color: $turquesa;
        }
        p {
          font-weight: bold;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 3rem;
          margin-bottom: 10px;
        }
      }
    }

    .section-calcujub {
      .group-calc-jub {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        .card-body-calculadora {
          height: fit-content;
          width: 70rem;
          .div-group-price-formula {
            flex-direction: row;
          }
          .input-group-inversion-inicial {
            .input-group-inversion {
              input {
                width: 100%;
              }
            }
          }
          .result-halvins {
            justify-content: center;
            .halvin {
              width: 25rem;
            }
          }
        }
        .aside-section-calc-jub {
          min-width: 524px;
          width: 600px;
          padding: 1rem 2rem;
          margin-top: 0rem;
          .header-aside {
            p {
              font-size: 1.6rem;
              font-weight: bold;
            }
          }
          #aside-calc-jub {
            div {
              p {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }

    .section-announce {
      .div-container--announce {
        max-width: 90rem;
        p {
          font-size: 2.5rem;
        }
      }
    }



    .section-mentoria {
padding-top: 10rem;
padding-bottom: 10rem;
    .div-mentoria{
max-width: 100rem;
margin: auto;
.header-title{
  p{
    font-size: 3.4rem;
  }
}

.mentoria-items{
font-size: 2.4rem;
 gap: 2rem;
 display: grid;
 grid-template-columns: repeat(2, 1fr);

}
    }
    .div-mis-redes{
      margin: auto;
      max-width: 100rem;
      .button-group li a {
        transition: all 0.3s ease-in-out;
        &:hover{
          cursor: pointer;
          background-color: $turquesa_strong;
          transform: scale(1.1);
        }
      }
      .redes-live-icons li a {
        width: 8rem;
           transition: all 0.3s ease-in-out;
        &:hover{
          cursor: pointer;
          background-color: $turquesa_strong;
          transform: scale(1.1);
        }
      }
    }

    }
 

  @keyframes appear {
    from {
      opacity: 0.3;
    }
    to {
      opacity: 1;
    }
  }
}
}
