/*ESTILOS PARA EL NAVBAR Y EL BOTON FLOTANTE DE NAVEGACIÓN*/

$turquesa: #3ef2d0;
$soft-black: #212529;
$turquesa_strong: #19e6c0;
$turquesa_soft: #effefa;
$gris: #f2f5f7;
$gris-middle: #d6d7d8;
$gris-strong: #bbc9d6;
$turquesa_strong: #19e6c0;



/* Clase para oscurecer el body */
body{
  .overlay{
  display: none; // Ocultar por defecto

  }
  .active{
    display: block;
    width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); // Fondo oscuro semitransparente
  transition: background-color 0.3s ease; // Animación suave para el fondo
  //z-index: 2000;
  }
}

.but-floating {
  display: none;
  position: fixed;
  bottom: 25px;
  left: 20px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 0px rgb(24, 32, 37);
  z-index: 10;
  user-select: none;
  animation: fadeInUp 0.4s forwards;
  
  img {
    width: 4rem;
    height: 3.5rem;
    user-select: none;
  }
 
}

 .hidden{
  animation: fadeOutDown 0.4s forwards;
}

.but-floating-wasap {
  position: fixed;
  bottom: 25px;
  right: 20px;



  z-index: 10;
  user-select: none;
  -webkit-animation: shake-bottom 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
	        animation: shake-bottom 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
  img {
    width: 6rem;
    height: 5.5rem;
    user-select: none;
       filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
      
  }
}

nav {
  display: flex;

  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  background-color: rgb(24, 32, 37);
  align-items: center;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    img {
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
    }
    p {
      color: white;
      font-weight: bold;
      display: none;
    }
   .but-seminario{
    background-color: $turquesa;
   padding: 8px 4px;
     text-decoration: none;
    color: $soft-black;
    display: flex;
  
    
  
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;

  
   }
  }

  .svg-menu {
    width: 30px;
    height: 30px;
  }



  /* Estilos del menú lateral */
  .sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Oculto por defecto */
    width: 300px;
    height: 100%;
    background-color: rgb(24, 32, 37);
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 10;
    &.hidden {
      transform: translateX(-100%);
    }
  }

  .sidebar.active {
    right: 0; /* Mostrar cuando esté activo */
  }

  /* Botón de cierre */
  .close-btn {
  width: 50px;
  height: 50px;
    border: none;
  background-color: $soft-black;
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  /* Opciones del menú */
  .menu-options {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    li {
      margin-bottom: 15px;
     

      a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        transition: color 0.3s ease;

        &:hover {
          color: $turquesa;
          transition: all 0.2s ease-in-out;
        }
      }
      .boton-mentoria {
        padding: 1rem 2rem;
        background-color: $turquesa;
        color: #000;
        font-weight: bold;
        &:hover {
          transform: scale(1.1);
          background-color: #fff;
          color: #000;
          font-weight: bold;
          transition: all 0.2s ease-in-out;
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }


}
@media screen and (min-width: 768px) {
  nav {
    padding: 1.5rem 1rem;

  z-index: 10;
    .logo{
       div{
 
   padding: 8px 4px;
   margin-left: 20px;
    border-radius: 10px;
       .but-seminario{
    
    text-decoration: none;
    color: $soft-black;
    font-size: 12px;
    font-weight: bold;
   

  }
   }
    }
    .sidebar{
      display: flex;
      position: static;
      justify-content: flex-end;
      width: 100%;
      padding: 0px;
      .menu-options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        li {
          list-style: none;
          margin-bottom: 0;
          a {
            color: white;
            text-decoration: none;
font-size: 12px;
            &:hover {
              color: $turquesa;
              transition: all 0.2s ease-in-out;
            }
          }
          .boton-mentoria {
            padding: 1rem 2rem;
            background-color: $turquesa;
            color: #000;
            font-weight: bold;
            &:hover {
              transform: scale(1.1);
              background-color: #fff;
              color: #000;
              font-weight: bold;
              transition: all 0.2s ease-in-out;
            }
            &:active {
              transform: scale(0.9);
            }
          }
        }
      }
      .close-btn{
        display: none;
      }
    }
    .svg-menu {
      display: none;
    }
  }
}


@media screen and (min-width: 1024px) {


body{

   
  .but-floating {
    img{
      width: 6rem;
      height: 5.5rem;
    }
  }
  .but-floating-wasap {
    img{
      width: 8rem;
      height: 7.5rem;
    }
  }
}




  nav {
    padding: 1.5rem 4rem;

    .logo{
      .but-seminario{
        margin-left: 24px;
        font-size: 16px;
      }
       p {
      color: white;
      font-weight: bold;
      display: flex;
    }
    }
    .sidebar{
      display: flex;
      position: static;
      justify-content: flex-end;
      width: 100%;
      padding: 0px;
  
      .menu-options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        li {
          list-style: none;
          margin-bottom: 0;
          a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            &:hover {
              color: $turquesa;
              transition: all 0.2s ease-in-out;
            }
          }
          .boton-mentoria {
            padding: 1rem 2rem;
            background-color: $turquesa;
            color: #000;
            font-weight: bold;
            &:hover {
              transform: scale(1.1);
              background-color: #fff;
              color: #000;
              font-weight: bold;
              transition: all 0.2s ease-in-out;
            }
            &:active {
              transform: scale(0.9);
            }
          }
        }
      }
      .close-btn{
        display: none;
      }
    }
    .svg-menu {
      display: none;
    }
  }
}

@-webkit-keyframes shake-bottom {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
  }

  1% {
    -webkit-transform: rotate(2deg);
  }
  2%, 4%, 6% {
    -webkit-transform: rotate(-4deg);
  }
  3%, 5%, 7% {
    -webkit-transform: rotate(4deg);
  }
  8% {
    -webkit-transform: rotate(-2deg);
  }
  9% {
    -webkit-transform: rotate(2deg);
  }
  10%, 100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes shake-bottom {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }

  1% {
    transform: rotate(2deg);
  }
  2%, 4%, 6% {
    transform: rotate(-4deg);
  }
  3%, 5%, 7% {
    transform: rotate(4deg);
  }
  8% {
    transform: rotate(-2deg);
  }
  9% {
    transform: rotate(2deg);
  }
  10%, 100% {
    transform: rotate(0deg);
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  to {
    opacity: 0;
    transform: scale(0.9) translateY(10px);
  }
}