@charset "UTF-8";
/*ESTILOS PARA EL NAVBAR Y EL BOTON FLOTANTE DE NAVEGACIÓN*/
/* Clase para oscurecer el body */
body .overlay {
  display: none;
}
body .active {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

.but-floating {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 0px rgb(24, 32, 37);
  z-index: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.but-floating img {
  width: 5rem;
  height: 4.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

nav {
  display: flex;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  background-color: rgb(24, 32, 37);
  align-items: center;
  /* Estilos del menú lateral */
  /* Botón de cierre */
  /* Opciones del menú */
}
nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
nav .logo img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}
nav .logo p {
  color: white;
  font-weight: bold;
}
nav .svg-menu {
  width: 30px;
  height: 30px;
}
nav .sidebar {
  position: fixed;
  top: 0;
  right: -300px; /* Oculto por defecto */
  width: 300px;
  height: 100%;
  background-color: rgb(24, 32, 37);
  transition: right 0.3s ease;
  padding: 20px;
  z-index: 999;
}
nav .sidebar.active {
  right: 0; /* Mostrar cuando esté activo */
}
nav .close-btn {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #212529;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 15px;
}
nav .menu-options {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
nav .menu-options li {
  margin-bottom: 15px;
}
nav .menu-options li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}
nav .menu-options li a:hover {
  color: #3ef2d0;
  transition: all 0.2s ease-in-out;
}
nav .menu-options li .boton-mentoria {
  padding: 1rem 2rem;
  background-color: #3ef2d0;
  color: #000;
  font-weight: bold;
}
nav .menu-options li .boton-mentoria:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: #000;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
nav .menu-options li .boton-mentoria:active {
  transform: scale(0.9);
}

@media screen and (min-width: 768px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav .sidebar {
    display: flex;
    position: static;
    justify-content: flex-end;
    width: 100%;
    padding: 0px;
  }
  nav .sidebar .menu-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  nav .sidebar .menu-options li {
    list-style: none;
    margin-bottom: 0;
  }
  nav .sidebar .menu-options li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
  }
  nav .sidebar .menu-options li a:hover {
    color: #3ef2d0;
    transition: all 0.2s ease-in-out;
  }
  nav .sidebar .menu-options li .boton-mentoria {
    padding: 1rem 2rem;
    background-color: #3ef2d0;
    color: #000;
    font-weight: bold;
  }
  nav .sidebar .menu-options li .boton-mentoria:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: #000;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  nav .sidebar .menu-options li .boton-mentoria:active {
    transform: scale(0.9);
  }
  nav .sidebar .close-btn {
    display: none;
  }
  nav .svg-menu {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    padding: 1.5rem 4rem;
  }
  nav .sidebar {
    display: flex;
    position: static;
    justify-content: flex-end;
    width: 100%;
    padding: 0px;
  }
  nav .sidebar .menu-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  nav .sidebar .menu-options li {
    list-style: none;
    margin-bottom: 0;
  }
  nav .sidebar .menu-options li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  nav .sidebar .menu-options li a:hover {
    color: #3ef2d0;
    transition: all 0.2s ease-in-out;
  }
  nav .sidebar .menu-options li .boton-mentoria {
    padding: 1rem 2rem;
    background-color: #3ef2d0;
    color: #000;
    font-weight: bold;
  }
  nav .sidebar .menu-options li .boton-mentoria:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: #000;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  nav .sidebar .menu-options li .boton-mentoria:active {
    transform: scale(0.9);
  }
  nav .sidebar .close-btn {
    display: none;
  }
  nav .svg-menu {
    display: none;
  }
}/*# sourceMappingURL=navBar.css.map */