// 🎨 Variables
$primary-color: #23a78e;
$secondary-color: #f0f0f0;
$amazon-gray: #d4d4d4;

// 📦 Componente principal
.section-announce-book {
  background-color: $primary-color;
  display: flex;
  place-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 20px;

  // 🔹 Título
  .title-book-announce {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 24px;
      font-weight: bold;
    }

    span {
      font-size: 16px;
      font-weight: 500;
      color: $secondary-color;
    }

    .line {
      width: 100px;
      height: 4px;
      background-color: $secondary-color;
      margin-top: 10px;
      border-radius: 2px;
    }
  }

  // 🔹 Contenedor principal
  .contaier-announce-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;

    // 📕 Imagen del libro
    .div-img-book {
      position: relative;
      width: 250px;
      height: 400px;
  
      padding: 12px;
      background-color: white;
      border-radius: 8px;
      margin-top: 20px;
        
      &:hover,
      &:active {
        transform: scale(1.05);
        transition: transform ease-in-out 0.2s;
      }

      .new-product {
        position: absolute;
        width: 80px;
        height: auto;
        object-fit: contain;
        top: -20px;
        left: -40px;
      }

      img {
        width: 100%;
        height: 100%;
       
      }
    }

    // 🔘 Botones
    .div-button-book {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      .button-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        a {
          background-color: $secondary-color;
          color: $primary-color;
          padding: 10px 15px;
          border: none;
          border-radius: 5px;
          text-decoration: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          &:hover {
            background-color: lighten($primary-color, 30%);
            transform: scale(1.05);
            transition: transform ease-in-out 0.2s;

            span {
              color: white;
            }
          }

          &:active {
            transform: scale(0.9);
          }

          img {
            width: 24px;
            height: 24px;
          }

          span {
            font-weight: bold;
            color: $primary-color;
          }

          .img-amazon {
            width: 100px;
            height: 100%;
          }
        }

        .a-amazon {
          background-color: $amazon-gray;
          position: relative;

          span {
            position: absolute;
            bottom: -20px;
            color: $amazon-gray;
          }
        }
      }

      p {
        font-size: 16px;
        color: $amazon-gray;
      }
    }
  }

  // 📱 Media Queries
  @media screen and (width > 760px) {
    .contaier-announce-book {
      flex-direction: row-reverse;
      align-items: center;

      .div-button-book {
        .button-group {
          flex-direction: column;
          gap: 20px;

          a {
            width: 200px;
            padding: 15px 10px;

            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }

  @media screen and (width > 1024px) {
    .title-book-announce {
      p {
        font-size: 30px;
      }
      span {
        font-size: 20px;
      }
    }
  }
}
