//para móviles
$unidad: "px";
$width-mobile-img: 320;
$width-mobile-container-img: 300;
//para desktop
$width-tablet-img: 320;
$width-tablet-container-img: #{$width-mobile-container-img * 2} + $unidad;
//para desktop
$width-desktop-img: "320px";
$width-desktop-container-img: #{($width-mobile-container-img * 4) + 60} +
  $unidad; //se suma 60px por el gap
$turquesa: #3ef2d0;
$soft-black: #212529;
$turquesa_strong: #19e6c0;
$turquesa_soft: #effefa;
$gris: #f2f5f7;
$gris-middle: #d6d7d8;
$gris-strong: #bbc9d6;
$box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
* {
  outline: none;
}
.section-testimonial {
  margin: 25px auto;
  width: 99%;

  max-width: 1800px;
}

.header-title {
  width: 100%;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  div {
    font-family: Arial, Helvetica, sans-serif;
    height: 5px;
    width: 100px;
    background-color: $turquesa;
  }
  p {
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.section-slider {
  width: 100%;
  margin-bottom: 80px;
  height: fit-content;
  display: flex;
  margin: 0;

  z-index: 0;
  position: relative;

  .container {
    width: 320px;
    height: 500px;
    //  background-color: beige;
    margin: auto;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 32px;
    position: relative;

    .slider-container {
      display: flex;
      position: absolute;
      margin: 0 10px; //se pone un margin left para contrarrestar el gap intermedio y que cuadre
      left: 0;
      outline: none;

      gap: 20px;
      transition: all 0.2s ease-in;

      .image {
        width: 300px; //ancho contenedor de imagen
        height: 400px; //alto contenedor de imagen
        display: flex;
        justify-content: center;
        //    background-color: yellow;
        outline: none;
        user-select: none;
        img {
          position: relative;
      
          outline: none;
          max-width: 100%;
          max-height: 100%;
          border-radius: 20px;
          object-fit: contain;
          //   box-shadow: 0px 0px 5px 3px rgba(128, 128, 128, 0.842);

          // z-index: -1;
        
        }
        &:hover {
          transform: scale(1.20);
          transition: all 0.2s ease;
        }
       
      }
    }
  }

  .arrow-left {
    //en mobile
    z-index: 1;
    position: absolute;
    bottom: calc(50% - 25px);
    margin: auto;
    margin-right: 0;
    width: 50px;
    height: 50px;
    background-color: #19e6c0b0;
    outline: none;
    border-radius: 100%;
    display: flex;
    place-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      box-shadow: 2px 2px 30px 4px rgba(110, 108, 108, 0.137);
      transition: all 0.2s ease-in-out;
    }
    &:active {
      transform: scale(0.7);
      outline: none;
    }

    svg {
      path {
        fill: #fff;
      }
    }
  }

  .arrow-right {
    @extend .arrow-left;
    margin-right: auto;
    margin-left: 0;
    right: 0;
    svg {
      transform: rotate(180deg);

      path {
        fill: #fff;
      }
    }
  }

  .indicator-slider {
    position: absolute;
    bottom: -0px;
    left: calc(50% - 125px);
    height: 40px;
    width: 250px;
    display: flex;
    //gap: 4px;
    justify-content: center;
    align-items: center;

    .indicator {
      display: block;
      margin: 0 auto;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      background-color: rgb(212, 210, 210);
    }

    .activate_indicator {
      background-color: $turquesa;
      transition: all 0.2s ease-out;
      transform: scale(1.4);
      box-shadow: 0px 0px 5px 1px $gris-middle;
    }
  }
}

@media screen and (width>768px) {
  .section-slider {
    //    background-color: red;
    .container {
      width: $width-tablet-container-img;
      // background-color: red;
      .slider-container {
        margin-left: 0;
      }
    }
    .arrow-left {
      position: inherit;
    }
    .arrow-right {
      position: inherit;
    }
  }
}

@media screen and (width>1024px) {
  .section-testimonial {
    margin: 50px auto;
  }

  .header-title {
    margin-bottom: 120px;
    p {
      font-size: 40px;
    }
  }
  .section-slider {
    //    background-color: red;
    margin: auto;

    .container {
      width: $width-desktop-container-img;
      // background-color: rgb(73, 66, 66);
      .slider-container {
        margin-left: 0;
      }
    }
    .arrow-left {
      position: inherit;
    }
    .arrow-right {
      position: inherit;
    }

    .indicator-slider {
      width: 500px;
      left: calc(50% - 250px);
      .indicator {
        width: 15px;
        height: 15px;
      }

      .activate_indicator {
      }
    }
  }
}
