:root {
  --turquesa: #3ef2d0;
  --gris: #bbc9d6;
  --blanco: #ffffff;
  --negro: #000000;
  --mobile: 576px;
  --padding-containers: 3%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 0rem;
}

h2 {
  font-size: 4rem;
  font-weight: 700;

}

h3 {
  font-size: 4rem;
  font-weight: 700;
}

.centrar {
  text-align: center;
  margin: 0rem;
}

/*primer seccion de la pagina*/
.boton {
  /*botones turquezas*/
  background-color: #3ef2d0;
  color: var(--negro);
  padding: 2.5rem 3.5rem;
  margin: auto;
  margin-top: 3rem;
  font-weight: 700;
  border-radius: 1rem;
  text-decoration: none;
  display: block;
  width: fit-content;
}

.encabezado {
  /*fondo calavera btc*/
  background-image: url(/imagenes/BTC-greenopease.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60rem;
  background-position: center;
  position: relative;
}

.contenido-encabezado {
  /*personalizacion encabezado*/
  background-color: rgb(255, 255, 255, 0.45);
  /*transparencia de fondo*/

  width: 100%;
  height: 100%;
  text-align: center;

  /*alinear y centrar texto */
}

.encabezado .contenido-encabezado .clock {
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding-top: 5%;
}

.contenido-encabezado p,
/*modificador texto debajo de titulo*/
.contenido-encabezado a {
  color: black;
  font-size: 500;
  font-size: 3rem;
  text-decoration-line: none;
  margin-top: 1.5rem;
}

/*=======================================================*/
/*seccion de redes y live */
.redes h2 {
  margin-bottom: 10rem;
  padding-top: 3.5rem;
}

.contenedor {
  padding-top: 5rem;
  width: 130rem;
  margin: 0 auto;
}

.redes {
  background-color: rgb(187, 201, 214, 0.2);
  height: 100rem;
  position: relative;
}

.redes_contenido {
  font-size: 2.5rem;
  display: flex;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 60%;
  align-content: center;
  justify-content: space-evenly;
}

.linea {
  /*botones turquezas*/
  background-color: var(--gris);
  color: var(--blanco);
  padding: 26rem 0.2rem;
  border-radius: 1rem;
}

.iconos_redes {
  width: 6rem;
  height: auto;
  margin-right: 0.5em;
}

.iconos_redes_r {
  width: 15rem;
  height: auto;
  margin: 0rem 2rem;
}

.botones_redes {
  background-color: var(--blanco);
  padding: 1rem 1.8rem;
  margin-top: 2rem;
  font-weight: 300;
  border-radius: 1rem;
  margin-top: 0rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.botones_redes:hover {
  background: #c4c4c4;
  cursor: pointer;
}
.botones_redes:active {
  transform: scale(0.97);
  transition-duration: .2s;
}
.botones_redes a {
  text-decoration: none;
  color: var(--negro);
}

.foto {
  border-radius: 10rem;
  width: 20rem;
  height: auto;
  background-color: var(--gris);
  box-shadow: -1rem 0 3rem rgb(0, 0, 0, 0.3);
}

.icono_circular {
  border-radius: 5rem;
}

.stream_iconos {
  display: flex;
  align-items: center;
}

.live_texto {
  font-size: 4rem;
  margin: 1rem;
}

.live {
  /*botones turquezas*/
  background-color: #3ef2d0;
  color: var(--negro);
  padding: 2rem 0rem;
  margin: 3rem 12rem;
  font-weight: 700;
  border-radius: 1rem;
  font-size: 4rem;
}

/*================================================================*/
.mentoria {
  height: 55rem;
  position: relative;
}

.mentoria_contenido {
  font-size: 2.2rem;
  display: flex;
  position: absolute;
  text-align: left;
  width: 100%;
  height: 60%;
  align-content: center;
  justify-content: space-between;
}

.mentoria_texto {
  padding: 0rem;
  font-weight: 500;
  display: flex;
  justify-content: left;
  align-items: center;
}

.mentoria_texto p {
  margin: 0rem;
}

.youtube {
  width: 40rem;
  height: auto;
}

.recordatorio {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 300;
  display: flex;
  justify-content: left;
}

.brojo {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
}

.visto {
  width: 5rem;
  height: 5rem;
}

/*========================================================================*/
/*Seccion ACERCA DE MI*/

.video {
  border-radius: 2rem;
  width: auto;
  height: 70rem;
}

.marco {
  background-color: rgb(255, 255, 255, 1);
  padding: 10rem 10rem 3.5rem 10rem;
  margin-top: auto;
  font-weight: 500;
  border-radius: 2rem;
  font-size: 3rem;
  box-shadow: -1rem 0 3rem rgb(0, 0, 0, 0.3);
}

.resaltado {
  background-color: var(--negro);
  color: var(--blanco);
  padding: 2rem 1rem;
  margin-top: 3rem;
  font-weight: 500;
  border-radius: 1rem;
  font-size: 4.5rem;
}

/**=====================================================================================/
/*SECCION MERCH INCONFISCABLE*/

.container {
  margin-top: 0%;
  position: relative;
  width: 100%;
  height: 65rem;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 4rem;
}

.slider input {
  visibility: hidden;
  display: none;
}

.buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 50px;
  gap: 10px;
}

.buttons label {
  width: 20px;
  height: 20px;
  background-color: #3ef2d0;
  opacity: 0.5;
  cursor: pointer;
  z-index: 1;
  transition: 300ms ease-in-out;
}

.buttons label:hover {
  scale: 1.2;
  opacity: 1;
}

.slider input:nth-child(1):checked ~ .buttons label:nth-child(1),
.slider input:nth-child(2):checked ~ .buttons label:nth-child(2),
.slider input:nth-child(3):checked ~ .buttons label:nth-child(3),
.slider input:nth-child(4):checked ~ .buttons label:nth-child(4) {
  opacity: 1;
  scroll-margin: 1.2;
  width: 40px;
}

.content {
  position: relative;
  width: 400vw;
  display: flex;
  transition: 400ms ease-in-out;
}

.firstslide,
.secondslide,
.thirdslide,
.fourslide {
  position: relative;
  width: 130rem;
  height: 55rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider input:nth-child(1):checked ~ .content {
  left: 0rem;
}

.slider input:nth-child(2):checked ~ .content {
  left: -130rem;
}

.slider input:nth-child(3):checked ~ .content {
  left: -260rem;
}

.slider input:nth-child(4):checked ~ .content {
  left: -390rem;
}

.bpedido {
  background-color: #3ef2d0;
  color: var(--negro);
  padding: 2.5rem 3.5rem;
  margin-top: 3rem;
  font-weight: 700;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 3rem;
}
.altura {
  height: 100rem;
}
/*media query for mobile*/
/************************************/
@media screen and (max-width: 576px) {
  html {
    line-height: normal;
  }

  h1 {
    font-size: 3rem;
  }
  .encabezado .contenido-encabezado {
    /* display: none;*/
    padding-top: 30px;
  }
  /*section redes-live*/
  .contenedor {
    max-width: var(--mobile);
  }
  .redes {
    max-width: var(--mobile);
    position: static;
    height: fit-content;
    width: var(--mobile);
  }
  .redes .redes_contenido {
    display: flex;
    flex-direction: column-reverse;
    padding: var(--padding-containers);
    height: fit-content;
    position: static;
    gap: 1.8rem;
  }
  .redes .linea {
    display: none;
  }
  /*section mentoria*/
  .mentoria {
    max-width: var(--mobile);
    height: fit-content;
    
  }

  .mentoria .mentoria_contenido {
    max-width: var(--mobile);
    height: fit-content;
    flex-direction: column;
    padding: var(--padding-containers);
    position: static;
  }
  /*sección acerca de mí*/


  .encabezado .contenido-encabezado .text-autor {
    font-size: 2.2rem;
    display: inline;
  }
  .encabezado .contenido-encabezado .clock {
    /* display: none;*/
    height: fit-content;
  }
  .encabezado .contenido-encabezado .text-rewards-halvin {
    font-size: 2.2rem;
    display: inline-block;
  }

  .encabezado .contenido-encabezado .flip-clock-wrapper ul {
    margin: 3px;
  }
  .encabezado .contenido-encabezado .flip-clock-wrapper ul li {
    line-height: 57px;
  }
  .encabezado .contenido-encabezado .flip-clock-wrapper ul li a .up .inn {
    font-size: 40px;
  }
  .encabezado .contenido-encabezado .flip-clock-wrapper ul li a .down .inn {
    font-size: 40px;
  }
  .encabezado .contenido-encabezado .flip-clock-wrapper .flip-clock-divider {
    width: 7px;
    height: 50px;
  }
  .encabezado
    .contenido-encabezado
    .flip-clock-wrapper
    .flip-clock-divider
    .flip-clock-label {
    right: -50px;
  }
  .encabezado .contenido-encabezado .flip-clock-wrapper .days {
    width: 0px;
  }
  .encabezado .contenido-encabezado .flip-clock-wrapper .hours .flip-clock-dot,
  .encabezado
    .contenido-encabezado
    .flip-clock-wrapper
    .minutes
    .flip-clock-dot,
  .encabezado
    .contenido-encabezado
    .flip-clock-wrapper
    .seconds
    .flip-clock-dot {
    left: -2px;
  }
  .encabezado .contenido-encabezado .flip-clock-wrapper .hours .top,
  .encabezado .contenido-encabezado .flip-clock-wrapper .minutes .top,
  .encabezado .contenido-encabezado .flip-clock-wrapper .seconds .top {
    top: 20px;
  }
  .encabezado .contenido-encabezado .flip-clock-wrapper .hours .bottom,
  .encabezado .contenido-encabezado .flip-clock-wrapper .minutes .bottom,
  .encabezado .contenido-encabezado .flip-clock-wrapper .seconds .bottom {
    top: 40px;
  }
  .encabezado .contenido-encabezado .clock .flip {
    width: 5px;
    height: 55px;
  }






}
